python-nmap
requests
colorama
php
wget
curl
adb
scrcpy
fastboot
Pillow
apktool
jarsigner
aapt
xterm
adbshell
python
ruby
sockets
metasploit
metsasploit-payloads
metasploit-framework

